In [27]:
import pandas as pd

In [28]:
df=pd.read_excel("online_retail_II.xlsx")

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525461 entries, 0 to 525460
Data columns (total 8 columns):
Invoice        525461 non-null object
StockCode      525461 non-null object
Description    522533 non-null object
Quantity       525461 non-null int64
InvoiceDate    525461 non-null datetime64[ns]
Price          525461 non-null float64
Customer ID    417534 non-null float64
Country        525461 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 32.1+ MB

In [30]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [31]:
df.nunique()

Invoice        28816
StockCode       4632
Description     4681
Quantity         825
InvoiceDate    25296
Price           1606
Customer ID     4383
Country           40
dtype: int64

In [32]:
index_names = df[(df['Country']!='United Kingdom')].index
df.drop(index_names, inplace=True)

In [33]:
df.nunique()

Invoice        26633
StockCode       4631
Description     4657
Quantity         761
InvoiceDate    23474
Price           1494
Customer ID     4035
Country            1
dtype: int64

In [34]:
TotalRevenueByHour=df.resample('H', on='InvoiceDate').Price.sum().to_frame()

In [35]:
TotalRevenueByHour.head()

                      Price
InvoiceDate
2009-12-01 07:00:00   43.15
2009-12-01 08:00:00    0.00
2009-12-01 09:00:00  327.46
2009-12-01 10:00:00  519.24
2009-12-01 11:00:00  925.78

In [36]:
TotalQuantityByHour=df.resample('H', on='InvoiceDate').Quantity.sum().to_frame()

In [37]:
TotalQuantityByHour.head()

                     Quantity
InvoiceDate
2009-12-01 07:00:00       226
2009-12-01 08:00:00         0
2009-12-01 09:00:00      1957
2009-12-01 10:00:00      1884
2009-12-01 11:00:00      2518